<div class="contacts-section__tittle">
  Контакты
</div>

<div class="contacts-section__map">
  <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A0c51a902b2cda75b1b19da2909f932e057015d9a1ac46f95e3055b0c4f494d33&amp;source=constructor" width="100%" height="380" frameborder="0"></iframe>
</div>

<div class="contacts-section__info">
  @for (elem of informationElems; track "") {
    <div class="contact-info__elem">
      <img 
        class="contact-info__elem-img" 
        [src]="'./assets/img/icons/'+ elem.img" 
        alt=""
      >
      <div class="contact-info__elem-desc">
        <div class="contact-info__elem-desc_b">
          {{elem.bText}}
        </div>
        <div class="contact-info__elem-desc_g">
          {{elem.gText}}
        </div>
      </div>
    </div>
  }
</div>