<!-- header-component.html -->
<header class="header__inner">
  <div class="header__info">
    <div class="header__info-section">
      <div class="header__stroke-elem">
        <img src="/assets/img/icons/phone.svg" class="header__stroke-elem-img" alt="">
    
        <span class="header__stroke-elem-text text_nowrap">
          +375 (29) 134-21-71
        </span>
        <span class="header__stroke-elem-text text_nowrap">
          +375 (29) 134-21-71
        </span>
    
        <!-- <span class="header__stroke-elem-text text_nowrap">
          +375 (29) 134-21-71
        </span> -->
      </div>
      <div class="header__stroke-elem">
        <img src="/assets/img/icons/mail.svg" class="header__stroke-elem-img" alt="">
    
        <span class="header__stroke-elem-text">
          Отправить письмо
        </span>
      </div>
    </div>
    <div class="header__info-section">
      <div class="header__stroke-elem">
        <img src="/assets/img/icons/home.svg" class="header__stroke-elem-img" alt="">
    
        <span class="header__stroke-elem-text">
          г. Могилев, ул. Лазаренко 73В, 2 этаж слева
        </span>
      </div>
      <div class="header__stroke-elem">
        <img src="/assets/img/icons/watch.svg" class="header__stroke-elem-img" alt="">
    
        <span class="header__stroke-elem-text">
          ПН-ПТ 9:00-19:00, СБ-ВС 10:00-18:00
        </span>
      </div>
    </div>
  </div>

  <div class="header__inner-line">

  </div>






  

  
<!--  
  
      -->
    
  
</header>

<div class="header__content">
  <div class="header__content-wrapper">
    <div class="header__content-section">
      <a routerLink="/" class="header__stroke-elem">
        <img src="/assets/img/icons/lamp.svg" class="header__logo-img" alt="">
        <span class="header__tittle-text">
          AOZOOM
        </span>
      </a>
    </div>
    <div class="header__content-search">
      <input 
      class="header__content-search-input" 
      type="text" 
      placeholder="Введите" 
      name="" 
      [(ngModel)]="findWord"
      id=""
      (input)="onSearchChange($event)">
      <button class="header__content-search-btn">
        <img src="/assets/img/icons/search.svg" class="header__logo-img" alt="">
        Найти
      </button>
    </div>
    <div class="header__content-section header__content-section_nav">
      <img src="/assets/img/icons/shoper.svg" class="header__logo-img" alt="">
      <img src="/assets/img/icons/heart.svg" class="header__logo-img" alt="">
      <img src="/assets/img/icons/user.svg" class="header__logo-img" alt="">
      
    </div>
  </div>





  @if (isActiveSearch()) {
    <div class="search-items">
      <div class="items-wrapper">

        <div (click)="cancelSearch()" class="search-items__close">
          <img class="search-items__close-img" src="./assets/img/icons/close.png" alt="">
        </div>

        @if (filteredProducts().length === 0){

          нет товаров

        } @else {
          @for (item of filteredProducts(); track $index) {
            <app-search-item
            [product]="item"
            >
              
            </app-search-item> 
          }
        }
           
      </div>
    </div>
  }

  



</div>