.about-us__wrapper {
  background: var(--gray-bg-section-color);
}.about-us__inner {
  display: flex;
  gap: clamp(30px, 3.5vw, 100px);
  width: var(--common-width);

  justify-content: space-between;
  padding: 140px 0;
  margin: 0 auto;
}
.about-us__img-block {
}
.about-us__img {
}
.about-us__text-block {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}
.about-us__text-tittle {
  font-weight: 600;
  font-size: 48px;
}
.about-us__text-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-us__text-description-elem {
  font-weight: 400;
  font-size: 20px;
}
.about-us__text-description-elem_bold{
  font-weight: 600;
}
.about-us__text-btns {
  display: flex;
  gap: 30px;
}

