<div class="about-us__wrapper">
  <div class="about-us__inner">
    <div class="about-us__img-block">
      <img src="./assets/img/other/banner.png" alt="" class="about-us__img">
    </div>
    <div class="about-us__text-block">
      <div class="about-us__text-tittle">
        Официальный <br>дилер <span class="orange-text">AOZOOM</span> в Беларуси
      </div>
      <div class="about-us__text-description">
        <div class="about-us__text-description-elem">
          Фирменный розничный магазин. Бесплатная доставка по всей Беларуси: СДЭК, Boxberry, Белпочта.
        </div>
        <div class="about-us__text-description-elem about-us__text-description-elem_bold">
          В нашем магазине представлены самые передовые разработки в области автомобильных Bi-Led модулей.
        </div>
        <div class="about-us__text-description-elem">
          Оригинальная продукция Lampas.
        </div>
      </div>
      <div class="about-us__text-btns">
        <a href="#" class="common-btn orange-btn">
          <img class="common-btn__img" src="./assets/img/icons/supplies.svg" alt=""> Перейти в каталог
        </a>
        <a href="#" class="common-btn transparent-btn">
          <img class="common-btn__img" src="./assets/img/icons/chats.svg" alt=""> Сотрудничество
        </a>
      </div>
    </div>
  </div>
</div>