<div class="cart-list__options">
  <div class="cart-list__main-checkbox-container">

    <label [ngClass]="{'checkbox-active': isAllChecked, 'cart-list__main-checkbox-label': true}">
      <input class="cart-list__main-checkbox"  type="checkbox" [(ngModel)]="isAllChecked"> _
    </label>


    <div class="cart-list__main-checkbox-text">
      Выбрано {{currentProducts}} из {{cartProductCount}}
    </div>
  </div>
  <div class="cart-list__main-actions">
    <div class="cart-list__main-action">
      <img src="/assets/img/icons/delete.svg" class="cart-list__main-action-img" alt="">
      <p class="cart-list__option-text">Удалить выбранное</p>
    </div>
    <div class="cart-list__main-action">
      <img src="/assets/img/icons/arrow.svg" class="cart-list__main-action-img" alt="">
      <p class="cart-list__option-text">Сортировать <span class="orange-text"> по цене </span></p>
    </div>
  </div>
</div>

<div class="cart-list__list">

  @for (product of products; track product[0].id) {
    <app-cart-product-card 
    [product]="product[0]"
    [productCount]="product[1]"
    (productDeleted)="onProductDeleted($event)"
    ></app-cart-product-card>
  }
  
</div>