<!-- product-section.component.html -->
<div class="product-section__wrapper" [ngClass]="className">
  <div class="product-section__inner">
    <div class="product-section__title">
      {{sectionTittle}}
    </div>
    <div class="product-section__list">
      
      <!-- @for (product of subscribers$ | async | slice:0:countToShow; track product.id) {
        <a [routerLink]="['/product', product.id]">
          <app-product-card [product]="product"></app-product-card>
        </a>
      } -->

      @for (product of products | slice:0:countToShow; track product.id) {
        <a [routerLink]="['/product', product.id]">
          <app-product-card [product]="product"></app-product-card>
        </a>
      }
    </div>
    <a href="/profile" class="product-section__btn common-btn orange-btn">
      Перейти в каталог
    </a>
  </div>
</div>