<footer>
  <div class="footer__cards-section">
    <div class="footer__cards-section-wrapper">
      <div class="footer__cards-tittle">
        Принимается к оплате
      </div>
  
      <div class="footer__cards-list">
        <img class="footer__cards-img" src="./assets/img/bank/11.png" alt="">
      </div>

      <!-- <div class="footer__cards-list">
        <img class="footer__cards-img" src="./assets/img/bank/1.png" alt="">
        <img class="footer__cards-img" src="./assets/img/bank/2.png" alt="">
        <img class="footer__cards-img" src="./assets/img/bank/3.png" alt="">
        <img class="footer__cards-img" src="./assets/img/bank/4.png" alt="">
        <img class="footer__cards-img" src="./assets/img/bank/5.png" alt="">
        <img class="footer__cards-img" src="./assets/img/bank/6.png" alt="">
        <img class="footer__cards-img" src="./assets/img/bank/7.png" alt="">
        <img class="footer__cards-img" src="./assets/img/bank/8.png" alt="">
        <img class="footer__cards-img" src="./assets/img/bank/9.png" alt="">
        <img class="footer__cards-img" src="./assets/img/bank/10.png" alt="">
      </div> -->
    </div>
  </div>

  <div class="footer-main">
    <div class="footer-main__wrapper">
      <div class="footer-main__elem">
        <div class="footer-main__elem-title">
          Покупателям
        </div>
        <div class="footer-main__elem-list">
          <a href="#" class="footer-main__elem-list-link">
            Каталог продукции
          </a>
          <a href="#" class="footer-main__elem-list-link">
            О магазине
          </a>
          <a href="#" class="footer-main__elem-list-link">
            Способы оплаты и доставки
          </a>
          <a href="#" class="footer-main__elem-list-link">
            Пользовательское соглашение
          </a>
          <a href="#" class="footer-main__elem-list-link">
            Политика обработки <br>персональных данных
          </a>
        </div>
      </div>
      <div class="footer-main__elem">
        <div class="footer-main__elem-title">
          Наша продукция
        </div>
        <div class="footer-main__elem-list">
          <a href="#" class="footer-main__elem-list-link">
            Светодиодные линзы
          </a>
          <a href="#" class="footer-main__elem-list-link">
            Светодиодные модули <br>дальнего света
          </a>
          <a href="#" class="footer-main__elem-list-link">
            Переходные рамки для линз
          </a>
          <a href="#" class="footer-main__elem-list-link">
            Герметик и клей для фар
          </a>
          <a href="#" class="footer-main__elem-list-link">
            Маски и бленды для линз
          </a>
        </div>
      </div>
      <div class="footer-main__elem">
        <div class="footer-main__elem-title">
          Режим работы
        </div>
        <div class="footer-main__elem-list">
          <div class="footer-main__elem-list-text">
            Онлайн-заказ: круглосуточно <br> 
            Время работы: 8:00-22:00 <br> 
            Оператор: 8:00-22:00
          </div>
        </div>
      </div>
      <div class="footer-main__elem">
        <div class="footer-main__elem-title">
          Контакты и адрес
        </div>
        <div class="footer-main__elem-list">
          <div class="footer-main__elem-list-text">
            (МТС) +375 (22) 344-55-78 <br>
            (A1) +375 (22) 344-55-78 <br>
            E-mail: SomeEMAIL.1ak.by
          </div>
          <div class="footer-main__elem-list-text">
            г. Могилев, ул. Лазаренко 73В, <br>2 этаж слева
          </div>
          
        </div>
      </div>
      <div class="footer-main__elem">
        <div class="footer-main__elem-title">
          Социальные сети
        </div>
        <div class="footer-main__elem-links">
          <a class="footer-main__elem-link" href=""><img class="footer-main__elem-link-img" src="./assets/img/icons/lviber.png" alt=""></a>
          <a class="footer-main__elem-link" href=""><img class="footer-main__elem-link-img" src="./assets/img/icons/lwhats.png" alt=""></a>
          <a class="footer-main__elem-link" href=""><img class="footer-main__elem-link-img" src="./assets/img/icons/ltelegram.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="footer-copyright__wrapper">
      Зарегистрирован Могилевским горисполкомом решением от 09 апреля 2024 г., регистрационный номер №578291. (УНП: 791362914)
    </div>
  </div>

</footer>